<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySwiffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17050F9B1CDA3C4100DA749B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17050FB21CDA3C4100DA749B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17050FBD1CDA3C4100DA749B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
